@use "../vars.scss" as colors;

:root
{
	.r-sharp-account-quicklook
	{
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		width: max-content;
		height: 3em;
		.r-sharp-account-quicklook__profile-picture
		{
			margin-left: .5em;
		}
	}
}