@use "../../vars.scss" as colors;
@use "./animations.scss" as animations;

:root
{
	.r-sharp-account-quicklook
	{
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		width: max-content;
		height: 3em;
		user-select: none;
		.r-sharp-account-quicklook__profile-picture
		{
			margin-left: .5em;
		}
		.r-sharp-account-quicklook__account-details
		{
			display: inline-flex;
			flex-direction: column;
			margin-left: .5em;
			.r-sharp-account-quicklook__key-details
			{
				width: 100%;
				min-width: 96px;
				min-height: 19px;
				font-size: 16px;
				font-weight: 600;
				@include animations.content-loading;
				&[loaded] { @include animations.content-loading-done; }
			}
			.r-sharp-account-quicklook__lesser-details
			{
				display: inline-flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				min-width: 96px;
				min-height: 14px;
				font-size: 12px;
				font-weight: initial;
				.r-sharp-account-quicklook__karma
				{
					svg
					{
						width: 1em;
						height: 1em;
						vertical-align: text-top;
						object-fit: contain;
						fill: colors.$dark-upvote;
					}
					@include animations.content-loading;
					&[loaded] { @include animations.content-loading-done; }
				}
				.r-sharp-account-quicklook__coins
				{
					@include animations.content-loading;
					&[loaded] { @include animations.content-loading-done; }
				}
			}
		}
	}
}