@use "../../vars.scss" as colors;

:root
{
	.r-sharp-card__surface
	{
		border-radius: 2em;
		background-color: colors.$dark-surface;
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	}
}

:root[light]
{
	.r-sharp-card__surface
	{
		background-color: colors.$dark-surface;
	}
}