@use "../../colors.scss" as colors;
@import "./reddit-font.scss";

:root
{
	.r-sharp-icons__reddit-premium
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-upvote;
		&:before { content: '\f131'; }
	}
	.r-sharp-icons__reddit-coin
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-coin;
		&:before { content: '\f10a'; }
	}
	.r-sharp-icons__upvote
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: #818384;
		&:before { content: '\f13d'; }
	}
	.r-sharp-icons__downvote
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: #818384;
		&:before { content: '\f110'; }
	}
	.r-sharp-icons__comment
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f10c'; }
	}
	.r-sharp-icons__share
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f136'; }
	}
	.r-sharp-icons__save
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f135'; }
		&[saved]:before { content: '\f13f'; }
	}
	.r-sharp-icons__hide
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f120'; }
	}
	.r-sharp-icons__report
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f134'; }
	}
	.r-sharp-icons__dismiss
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f109'; }
	}
	.r-sharp-icons__dropdown
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f111'; }
	}
	.r-sharp-icons__give-award
	{
		vertical-align: text-top;
		font-family: 'Reddit font';
		font-style: normal;
		font-weight: normal;
		color: colors.$dark-text;
		&:before { content: '\f11e'; }
	}
}