@use "../../colors.scss" as colors;
@use "@material/ripple" as ripple;

@mixin r-sharp-button-generic
{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 2em;
	margin-left: .5em;
	margin-right: .5em;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: .7em;
	user-select: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

@mixin r-sharp-markdown
{

	p
	{
		margin-top: .5em;
		margin-bottom: .5em;
	}
	.a
	{
		display: inline-block;
		color: colors.$dark-blue;
		text-decoration: none;
		@include ripple.surface;
		@include ripple.states-base-color(colors.$dark-blue);
		@include ripple.states-opacities((hover: 0));
	}
}