@use "./animations.scss" as animations;

:root
{
	.r-sharp-profile-picture
	{
		width: 2em;
		height: 2em;
		border-radius: 50%;
		img
		{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: contain;
			@include animations.content-loading;
			&[loaded] { @include animations.content-loading-done; }
		}
	}
}