@use "../../colors.scss" as colors;

:root
{
	.r-sharp-downvote-button
	{
		display: block;
		position: relative;
		width: 1.5em;
		height: 1.5em;
		.r-sharp-downvote-button__ripple
		{
			display: block;
			top: 0;
			left: 0;
			width: 1.5em;
			height: 1.5em;
			position: absolute;
			&.mdc-ripple-surface::before, &.mdc-ripple-surface::after { background-color: colors.$dark-downvote; }
		}
		.r-sharp-icons__downvote
		{
			display: block;
			top: calc(50% - (1em / 2));
			left: calc(50% - (1em / 2));
			width: 1em;
			height: 1em;
			position: absolute;
			&:hover::before { color: colors.$dark-downvote-hov; }
			&.downvoted::before { color: colors.$dark-downvote; }
		}
	}
}