@use "../../../colors.scss" as colors;

:root
{
	.r-sharp-voting
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: max-content;
	}
	.r-sharp-voting__text
	{
		font-size: 16px;
		height: 16px;
		color: colors.$dark-text;
		&[upvoted] { color: colors.$dark-upvote; }
		&[downvoted] { color: colors.$dark-downvote; }
	}
}