@use "../../components/sass/index.scss";
@use '../../vars.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'Reddit font';
	src: url('../../components/sass/reddit-font.woff');
}

:root
{
	body
	{
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		margin: 0;
		position: fixed;
		font-family: 'Roboto', sans-serif;
		color: colors.$dark-text;
		background-color: colors.$dark-background;
		main
		{
			top: 0;
			left: 12.5vw;
			width: 75vw;
			height: 100%;
			position: relative;
			overflow-y: scroll;
			&::-webkit-scrollbar { display: none; }
			@media only screen and (min-width: 820px) { & { left: 18.75vw; width: 62.5vw; } }
			@media only screen and (min-width: 1024px) { & { left: 25vw; width: 50vw; } }
		}
	}
}