@use "./components/sass/index.scss";
@use './vars.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root
{
	body
	{
		font-family: 'Roboto', sans-serif;
		color: colors.$dark-text;
		background-color: colors.$dark-background;
		header
		{
			display: flex;
			justify-content: space-between;
			top: 0;
			left: 0;
			width: 100vw;
			height: 3em;
			position: fixed;
			background-color: colors.$dark-surface;
			#account-quicklook { width: max-content; }
			#tabs
			{
				width: calc((1.25em * 3) * 3);
				height: 100%;
			}
		}
		.tab
		{
			display: none;
			top: 3em;
			left: 0;
			width: 100vw;
			height: calc(100vh - 3em);
			position: fixed;
			border: none;
			z-index: -1;
			&.tab__current { display: block; }
		}
	}
}

:root[light]
{
	body
	{
		color: colors.$dark-text;
		background-color: colors.$dark-background;
	}
}
