@use "./components/sass/index.scss";
@use './vars.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root
{
	body
	{
		font-family: 'Roboto', sans-serif;
		color: colors.$dark-text;
		background-color: colors.$dark-background;
		header
		{
			display: flex;
			top: 0;
			left: 0;
			width: 100vw;
			height: max-content;
			position: fixed;
			background-color: colors.$dark-surface;
			#account-quicklook
			{
				width: 25%;
			}
		}
	}
}

:root[light]
{
	body
	{
		color: colors.$dark-text;
		background-color: colors.$dark-background;
	}
}
